@import 'normalize.scss';

body {
    font-family: "Times New Roman", serif;
    font-size: 1.5em;
    color: #394232;
    background: url(/images/bg.png);
    background-size: tile;
}

nav {
    border-top: 16px solid #525252;
    background-color: #fff;

    .logo {
        background: url("/images/logo.png") no-repeat;
        background-position: 20% 50%;
        background-size: 3em;
        display: inline-block;
        padding: 2em;
    }

    a {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 2em;
        color: #525252;
        font-weight: 900;
        font-size: 0.8em;
    }

    .home-link {
        margin-left: 3em;
        font-weight: 600;
        color: #08371B;
        font-size: 1.25em;
        text-transform: none;
    }
}

.jobform-border-background {
    width: 45%;
    margin: 1em 0 1em 4em;
    float: left;
    background-color: #fff;
    padding: 1em;
    box-shadow: 10px 10px 12px #ddd;

    .jobform-content {

        // padding: 0.5em 2em 2em 2em;
    }
}

.jobtips-border-background {
    width: 30%;
    float: right;
    background-color: #fff;
    margin: 1.5em 4em 3em 0;
    padding: 1em;

    h3 {
        font-weight: 400;
        margin-bottom: 0;
    }
}

label {
    padding-bottom: 2px;
    display: block;
    font-weight: 600;
    font-family: "Helvetica", sans-serif;
    color: #545454;
}

input {
    margin-top: 0;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.25em;
}

textarea {
    display: block;
    height: 8em;
    width: 100%;
    margin-bottom: 1em;
}

button {
    font-family: "Helvetica", sans-serif;
    display: block;
    padding: 10px;
    font-size: 1.25em;
    border-radius: 5px;
    border: none;
    float: right;
}

.button-container {
    text-align: right;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.submit-button {
    color: #ECF3BE;
    background-color: #3A9C4B;
}
